
.icon-hammer:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-emo-shoot:before { content: '\e810'; } /* '' */
.icon-heartbeat:before { content: '\f21e'; } /* '' */
